* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/1200x/8b/5d/d9/8b5dd90c8fc2677f7e583fe239fecbfa.jpg");
   background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
}

.container {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.search-box button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #2c5364;
  color: #fff;
  cursor: pointer;
}

.search-box button:hover {
  background: #203a43;
}

.card {
  margin-top: 20px;
}

.card img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.card p {
  margin: 6px 0;
  color: #444;
}
